# Cryptographic Keys (Change these in production to a secure random value)
FLASK_SECRET_KEY=your-super-secret-key-change-me-in-production

# Testing Config (Set to FALSE in production)
FLASK_ENV_TESTING=FALSE
